body {
    font: 13px Helvetica, Arial;
  }

  html {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #57c1eb 0%, #246fa8 100%);
}
  
  form { 
    background:rgb(226, 221, 221);
    padding: 3px;
    position: absolute;
    left: 800px;
    bottom: 0;
    width: 360px;
    height:520px;
    padding: 10px; 
    border: 3px solid rgb(22, 20, 20);
    border-radius: 25px;
    float: right;
    scroll-behavior: auto;
    overflow: auto;
  }

  .inbox__messages{
    overflow: auto;
    bottom: 10;
  }
  
  form input {
    border: 2px solid rgb(17, 17, 16);
    border-radius: 25px;
    padding: 10px;
    width: 280px;
    margin-right:0.5% ;
    position: fixed;
    bottom: 0;
    
  }
  
  form button {
    width: 9%;
    background: rgb(130, 224, 255);
    border: 2p solid rgb(22, 21, 20);
    border-radius: 25px;
    width:50px;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 1120px;
  }

  #outgoing__message {
    justify-items: start;
  }

  #incoming__message {
    text-align: right;
  }
  